:root {
    --azul: #2563eb;
    --azul-claro: #dbeafe;
    --branco: #ffffff;
    --cinza: #f3f4f6;
    --vermelho: #dc2626;
}

#labelDoInputA {
    color: var(--vermelho);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--branco);
    margin: 0;
    padding: 0;
    background-color: #1e40af;
}

header {
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    background: var(--cinza);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: var(--azul);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input[type="number"]:focus {
    background-color: var(--azul-claro);
    border-color: var(--azul);
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1e40af;
}

.resultado {
    margin-top: 15px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

footer.erro {
    background-color: var(--vermelho);
    color: white;
}